body {
    
    background-image: url("https://cdn.guidingtech.com/imager/assets/217224/Apex-Legends-Wallpapers-1-1080p_4d470f76dc99e18ad75087b1b8410ea9.png?1550938471"  ) ;

    background-color: rgb(161, 79, 79);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover; /* or 100% 100% */
    height: 100vh;
    
    
}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    color: white;
    text-decoration: none;
}

.addb {
    width: 100px;
    height: 80px;
    position: relative;
    top: 50%;
    left: 90%;
    display:inline;

}



