<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css.css">
    <style type="text/css">

    </style>
</head>
<body>
    
    
    <div class="container" style="text-align: center; margin-top: 50px; background-color: rgba(255, 255, 255, 0.315) ;opacity: 0.8;
    filter: alpha(opacity=40); padding: 30px;border-radius: 5px;">
    <form action="/gun/editsave" th:object="${z}" method="POST">

        <input type="hidden" th:field="*{id}">
        
        <div class="form-group row">
            <label style="font-weight: bold;" class="col-sm-2 col-form-label" for="gunname">Name : </label>
            <input style="width:500px" class="form-control" type="text" id="gunname" name="gunname" th:field="*{gunname}" required>
        </div>

        <div class="form-group row">
            <label style="font-weight: bold;" class="col-sm-2 col-form-label" for="gundamage">Damage : </label>
            <input style="width:500px" class="form-control" type="number" min="1" max="100" id="gundamage" name="gundamage" th:field="*{gundamage}" required>
        </div>

        <div class="form-group row">
            <label style="font-weight: bold;" class="col-sm-2 col-form-label" for="gunmagazine">Magazine : </label>
            <input style="width:500px" class="form-control" type="number" min="1" id="gunmagazine" name="gunmagazine" th:field="*{gunmagazine}" required>
        </div>

        <div class="form-group row">
            <label style="font-weight: bold;" class="col-sm-2 col-form-label" for="gunmobility">Mobility : </label>
            <input style="width:500px" class="form-control" type="number" min="1" max="100" id="gunmobility" name="gunmobility" th:field="*{gunmobility}" required>
        </div>

        <div class="form-group row">
            <label style="font-weight: bold;" class="col-sm-2 col-form-label" for="guncolor">Color : </label>
            <input style="width:500px" class="form-control" type="text" id="guncolor" name="guncolor" th:field="*{guncolor}" required>
        </div>
        <button type="button" class="btn btn-warning"><a href="/gun/index">Back</a></button>
        <input class="btn btn-primary" type="submit" value="Submit">
        
    </form>
</div>
</body>
</html>